* {
  box-sizing: border-box;
  /* --main-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.4); */
  --main-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  --cta-box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25),
    0 30px 60px -30px rgba(0, 0, 0, 0.3),
    inset 0 -2px 6px 0 rgba(10, 37, 64, 0.35);
  --main-text-color: #696666ee;
  --golden-road: #ff9a76;
  --light-coral: #f08080;
  --salmon: #fa8072;
  letter-spacing: 0.05rem;
}

.page-heading {
  font-size: 2rem;
  color: var(--light-coral);
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.page-heading img {
  height: 20px;
}

a {
  color: #eee;
}

a:hover {
  color: var(--light-coral);
}
#private-tabs {
  box-shadow: var(--main-box-shadow);
  border-radius: 5px;
  padding: 15px 10px;
}
body {
  font-size: 16px;
}

svg:root {
  width: 100%;
  height: 100%;
}

.options-sub-container {
  width: 50%;
  max-width: 600px;
  min-width: 90vh;
  /* min-height: 100vh; */
  margin: 0px auto;

  padding-top: 32px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 32px;
}

.section-title {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.table-body {
  padding: 0;
}

.option-row {
  display: grid;
  min-height: 48px;
  align-items: center;
  padding: 0px 25px;
  grid-template-columns: 5% 40% 15% 15% 25%;
  border-bottom: 1px solid rgb(255 255 255 / 44%);
  font-size: 0.8125rem;
}

.option-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  font-size: 0.8125rem;
}
.option-header p {
  font-size: 1rem;
  font-weight: bold;
}
.options-list {
  padding: 0px;
}
.option-row span {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 4px;
}
.option-row .header span {
  padding: auto 4px;
}
.option-row span:first-child {
  margin-right: 8px;
}
.option-row .center-column {
  text-align: center;
}
.option-row .remove-button {
  text-align: right;
}

.options-list .option-row:first-child {
  border-top-width: 0px;
}
.options-list .option-row:last-child {
  border-bottom-width: 0px;
}

.option-header {
  padding: 0px 25px;
}
.arrow-icon {
  height: 12px;
}

.right {
  transform: rotate(180deg);
}

.bottom {
  transform: rotate(270deg);
}

.top {
  transform: rotate(90deg);
}

.left {
  transform: rotate(0deg);
}

#search-url {
  background: #212224;
  border: 0px;
  color: #fff;
  margin-left: 10px;
  height: 26px;
  display: block;
  border-radius: 5px;
  padding-left: 10px;
  height: 30px;
}

.search-url-header {
  display: flex;
  align-items: center;
}

.header span {
  font-weight: bold;
}
.header span:first-child {
  display: flex;
  align-items: center;
}

.add-url-layer {
  display: grid;
  grid-template-columns: 79% 20%;
  padding: 0px 40px;
  grid-column-gap: 40px;
  justify-content: center;
  height: 36px;
}

.add-url-radio-layer {
  padding-left: 20px;
  margin-top: 15px;
  display: flex;
  align-items: center;
}

.add-url-radio-layer label {
  margin-right: 20px;
  cursor: pointer;
}

.add-url-radio-layer input {
  margin-right: 10px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.remove-button {
  font-size: 0.75rem;
  cursor: pointer;
}
.remove-button:hover {
  text-decoration: underline;
}

input#add-url-input {
  font-size: 1rem;
  padding-left: 10px;
  background: #212224;
  border: 0px;
  color: #fff;
  border-radius: 5px;
}
#add-new-btn {
  border: none;
  box-shadow: var(--cta-box-shadow);
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.cross-icon {
  cursor: pointer;
}

#add-new-btn:hover {
  transform: scale(1.02);
}

.favicon-url {
  height: 20px;
}

.globe-icon {
  fill: #eee;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background-color: #212224;
  }
  #private-tabs {
    background-color: #292a2d;
  }
}

@media (prefers-color-scheme: light) {
  body {
    color: #000;
    background-color: #f8f9fa;
  }

  #private-tabs {
    background-color: #ffffff;
  }
  #search-url {
    background: #fff;
    color: #000;
    border: 1px solid #000;
  }
  a {
    color: #000;
  }
  #add-new-btn {
    background: #f08080;
    color: #fff;
  }

  input#add-url-input {
    background: #eee;
    color: #000;
  }
  .globe-icon {
    fill: #000;
  }
}

.empty-container {
  position: relative;
  width: 755px;
  height: 300px;
  margin: 20px 10px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='20' ry='20' stroke='%23333' stroke-width='4' stroke-dasharray='17%2c 8' stroke-dashoffset='8' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 20px;
}
.empty-container p {
  margin: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
